@model SocialGoal.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_LayoutFlatty.cshtml";
}
@section styles{
    <style type="text/css">
      .controls   .input-validation-error {
            border-color: #b94a48;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .field-validation-error {
        color: #b94a48;
        }
    </style>
}
<div class='middle-container'>
    <div class='middle-row'>
        <div class='middle-wrapper'>
            <div class='login-container-header'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='text-center'>
                                <img width="121" height="31" src="~/Content/assets/images/logo_lg.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='login-container'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-4 col-sm-offset-4'>
                            <h1 class='text-center title'>Sign in</h1>
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " " }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <div class="controls with-icon-over-input">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                            <i class="icon-user text-muted"></i>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class='controls with-icon-over-input'>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                            <i class='icon-lock text-muted'></i>
                                        </div>
                                    </div>

                                    <div class='checkbox'>
                                        <label for='remember_me'>
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class='btn btn-block'>Sign in</button>
                                }
                            </section>
                            <div class='text-center'>
                                <hr class='hr-normal'>
                                <a href='forgot_password.html'>Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='login-container-footer'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='text-center'>
                                <a href='@Url.Action("Register", "Account")'>
                                    <i class='icon-user'></i>
                                    New to Flatty?
                                    <strong>Sign up</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
