@model SocialGoal.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_LayoutSmartAdminLogin.cshtml";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "smart-form client-form" }))
{
   
    <header>
        用户登录
    </header>
    <fieldset>
        <section>
            <label class="label">登录名</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "note note-error" })
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> 输入您的用户名</b>
            </label>
        </section>

        <section>
            <label class="label">密码</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "note note-error" })
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 输入您的密码</b>
            </label>
            <div class="note">
                <a href="forgotpassword.html">忘记密码?</a>
            </div>
        </section>
        <section>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        </section>

        <section>
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                <i></i>Stay signed in
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-primary">
            Sign in
        </button>
    </footer>

}
@section scripts{
    <script type="text/javascript">
        runAllForms();
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}
