@model SocialGoal.Model.ViewModels.ReceiveDataLastViewModel
@{
    ViewBag.Title = "终端详细信息";
}
@section styles{
    <link href="~/Content/css/map.Default.css" rel="stylesheet" />
}
<div id="content">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                        <h2>地图全屏</h2>
                        <div class="widget-toolbar hidden-mobile">
                            <span class="onoffswitch-title"><i class="fa fa-history"></i>@Html.ActionLink("轨迹回放", "Map", "Equipment", new { @id = Model.IMEI.Trim() }, null)</span>

                        </div>
                    </header>
                    <!-- widget div-->
                    <div id="GetWidgetBodyHeight">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <i class="  icon-map-marker"></i>
                                        数据更新时间：@Model.ReceiveTime
                                    </li>
                                    <li>
                                        <i class="  icon-map-marker"></i>
                                        ACC状态：@Model.AccStatus
                                    </li>
                                    <li>
                                        <i class="  icon-map-marker"></i>
                                        当前位置：@Model.GpsPos
                                    </li>
                                    <li>
                                        <i class=" icon-ellipsis-horizontal"></i>
                                        纬度：@Model.GpsPlat
                                    </li>
                                    <li>
                                        <i class=" icon-ellipsis-horizontal"></i>
                                        经度：@Model.GpsPlog
                                    </li>
                                    <li>
                                        <i class="icon-rocket"></i>
                                        速度：@Model.GpsSpeed
                                    </li>
                                    <li>
                                        <i class="icon-stackexchange"></i>
                                        方向：@Model.GpsDirection
                                    </li>
                                    <li class="text-success">
                                        <i class="icon-map-marker"></i>
                                        GPS定位时间：@Model.GpsTime
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dropdown">
                                            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="javascript:void(0);"> 电子围栏 <span class="caret"></span> </a>
                                            <ul class="dropdown-menu multi-level" role="menu">
                                                <li>
                                                    <a href="javascript:SetCircle();">圆形自定义</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="javascript:SetPolygon(0);">多边形自定义</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="resultInfo"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- content goes here -->
                            <div id="iCenter"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box box-transparent box-nomargin">
                                        <div class="box-header">
                                            <div class="actions">
                                                <a class="btn box-remove btn-xs btn-link" href="#">
                                                    <i class="icon-remove"></i>
                                                </a>

                                                <a class="btn box-collapse btn-xs btn-link" href="#">
                                                    <i></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="box-content" id="result">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="widget-footer">
                            </div>
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                @*<div  class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-collapsed="true" data-widget-sortable="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                            <h2>终端控制 </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                            </div>
                            <!-- end widget edit box -->
                            <div class="widget-body no-padding" id="Commonds" ng-controller="TabsCmdCtrl">
                                <div class="well well-sm well-light">
                                    <tabset>
                                        <tab heading="无线智能终端v1.0">
                                            <form class="smart-form">
                                                <header>
                                                    参数设置
                                                </header>
                                                <fieldset>
                                                    <section>
                                                        <label class="label">地址类型：</label>
                                                        <div class="inline-group">
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.AddressType" value="00">
                                                                <i></i>不改变
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.AddressType" value="01">
                                                                <i></i>域名
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.AddressType" value="02">
                                                                <i></i>Ip地址
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">地址：</label>
                                                        <label class="input">
                                                            <input type="text" ng-model="CommondParameters.IpOrDomain">
                                                        </label>
                                                        <div class="note">
                                                            <strong>备注：</strong> 123.57.41.22:9001 ；www.xsgps.com:9001。
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">更改终端工作状态：</label>
                                                        <div class="inline-group">
                                                            <label class="radio">
                                                                <input type="radio" value="00" ng-model="CommondParameters.WorkStatue">
                                                                <i></i>不改变
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" value="01" ng-model="CommondParameters.WorkStatue">
                                                                <i></i>测试
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" value="02" ng-model="CommondParameters.WorkStatue">
                                                                <i></i>待激活
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" value="03" ng-model="CommondParameters.WorkStatue">
                                                                <i></i>已激活
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">累计工时：</label>
                                                        <label class="input">
                                                            <input type="text" ng-model="CommondParameters.TootalWorkTime">
                                                        </label>
                                                        <div class="note">
                                                            <strong>功能描述：</strong> 修正终端累计工时。
                                                        </div>
                                                    </section>

                                                </fieldset>
                                                <fieldset>
                                                    <section>
                                                        <label class="label">工作模式：</label>
                                                        <div class="inline-group">
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.WorkModel" value="00">
                                                                <i></i>不改变
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.WorkModel" value="01">
                                                                <i></i>标准模式
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.WorkModel" value="02">
                                                                <i></i>精准模式
                                                            </label>
                                                            <label class="radio">
                                                                <input type="radio" ng-model="CommondParameters.WorkModel" value="03">
                                                                <i></i>追车模式
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">定时时间：</label>
                                                        <label class="select">
                                                            <select ng-init="CommondParameters.Timing = TimingOptions[0]"
                                                                    ng-model="CommondParameters.Timing"
                                                                    ng-options="opt as opt.label for opt in TimingOptions"></select>
                                                            <i></i>
                                                        </label>
                                                        <div class="note">
                                                            <strong>功能描述：</strong>终端每天第一次上报位置信息的时间。
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">定位次数</label>
                                                        <label class="input">
                                                            <input type="text" ng-model="CommondParameters.PostionCount">
                                                        </label>
                                                        <div class="note">
                                                            <strong>功能描述：</strong> 终端数据上传定位数据的次数，以天为单位。
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">工作时间</label>
                                                        <label class="input">
                                                            <input type="text" ng-model="CommondParameters.WorkTime">
                                                        </label>
                                                        <div class="note">
                                                            <strong>功能描述：</strong> 终端每次启动后工作时间。（终端只有在该时间段内处于工作状态，其他时间处在深度睡眠状态。
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <label class="label">追车间隔时间</label>
                                                        <label class="input">
                                                            <input type="text" ng-model="CommondParameters.IntervalTime1">
                                                        </label>
                                                        <div class="note">
                                                            <strong>功能描述：</strong> 追车模式数据上传间隔时间，单位为秒。
                                                        </div>
                                                    </section>
                                                </fieldset>
                                                <fieldset>
                                                    <section>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-warning text-warning"></i> 设备出厂时，默认上传位置信息的频率为 1次/天</li>
                                                            <li class="text-success"><i class="fa fa fa-bell text-danger"></i><strong>为延长设备的使用寿命：标准模式、精准模式设置次数不得超过 24次/天（1次/小时）；追车模式下数据发送间隔最小60秒最大3600秒;0为不设置。</strong> </li>
                                                            <li><i class="fa fa-warning text-warning"></i> 在下次信息回传前，向设备发送多条命令信息，只有最后一条命令有效。</li>
                                                        </ul>
                                                    </section>
                                                </fieldset>
                                                <div class="alert alert-success fade in">
                                                    <i class="fa-fw fa fa-check"></i>
                                                    <strong>准备设置参数</strong>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="text-primary" ng-switch on="CommondParameters.AddressType">
                                                        <strong>地址类型：</strong>
                                                        <span ng-switch-when="00">不改变</span>
                                                        <span ng-switch-when="01">域名</span>
                                                        <span ng-switch-when="02">IP地址</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>地址：</strong><span>{{CommondParameters.IpOrDomain}}</span>
                                                    </li>

                                                    <li class="text-primary" ng-switch on="CommondParameters.WorkStatue">
                                                        <strong>终端工作状态：</strong>
                                                        <span ng-switch-when="00">不改变</span>
                                                        <span ng-switch-when="01"> 测试 </span>
                                                        <span ng-switch-when="02">待激活</span>
                                                        <span ng-switch-when="03">已激活</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>累计工作小时：</strong>
                                                        <span>{{CommondParameters.TootalWorkTime}}</span>
                                                    </li>
                                                    <li class="text-primary" ng-switch on="CommondParameters.WorkModel">
                                                        <strong>工作模式：</strong>
                                                        <span ng-switch-when="00">不改变</span>
                                                        <span ng-switch-when="01">标准模式 </span>
                                                        <span ng-switch-when="02">精准模式</span>
                                                        <span ng-switch-when="03">追车模式</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>定时启动时间：</strong>
                                                        <span>{{CommondParameters.Timing.label}}</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>定位次数：</strong>
                                                        <span>{{CommondParameters.PostionCount}}次/天</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>工作时间：</strong>
                                                        <span>{{CommondParameters.WorkTime}}分钟</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>间隔时间时间：</strong>
                                                        <span>{{1440/CommondParameters.PostionCount}}分钟</span>
                                                    </li>
                                                    <li class="text-primary">
                                                        <strong>追车间隔时间：</strong>
                                                        <span>{{CommondParameters.IntervalTime}}秒</span>
                                                    </li>
                                                </ul>
                                                <footer>
                                                    <button type="button" class="btn btn-primary" ng-click="setParameterSubmit()">
                                                        设置参数
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">
                                                        激活
                                                    </button>
                                                </footer>
                                            </form>
                                        </tab>
                                        <tab heading="有线智能终端v1.0">



                                        </tab>

                                    </tabset>
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>*@
                <!-- end widget -->
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2> 运行记录 </h2>
                        <div class="widget-toolbar">
                            <!-- add: non-hidden - to disable auto hide -->

                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding" id="Operates" ng-controller="TodoController">
                            <div class="widget-body-toolbar"></div>
                            <div class="table-responsive">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="well well-sm">
                                            <!-- Timeline Content -->
                                            <div class="smart-timeline">
                                                <ul class="smart-timeline-list">
                                                    <li ng-repeat="todo in filteredTodos">
                                                        <div class="smart-timeline-icon" ng-switch on="todo.Dtype">
                                                            <i class="fa fa-user" ng-switch-when="1"></i>
                                                            <i class="fa fa-bar-chart-o" ng-switch-when="2"></i>
                                                            <i class="fa fa-pencil" ng-switch-when="3"></i>
                                                        </div>
                                                        <div class="smart-timeline-time">
                                                            <small>{{todo.OperateTime}}</small>
                                                        </div>
                                                        <div class="smart-timeline-content" ng-switch on="todo.Dtype">
                                                            <div ng-switch-when="1">
                                                                <div class="well well-sm display-inline">
                                                                    <p ng-switch on="todo.OperateStatue">
                                                                        <span ng-switch-when="1">当前状态：<span class="btn btn-xs btn-danger"><i class="fa fa-comment-o "></i>命令等待发送中</span></span>
                                                                    </p>
                                                                    <p>命令设置时间：<strong> {{todo.OperateDateTime}}</strong> </p>
                                                                    <p>定位次数：{{todo.CommandJsonData.PostionCount}}次/天,工作时间：{{todo.CommandJsonData.WorkTime}}分钟,间隔时间时间：{{1440/todo.CommandJsonData.PostionCount}}分钟</p>
                                                                    <p>操作人：{{todo.UserName}}</p>
                                                                </div>
                                                            </div>
                                                            <div ng-switch-when="2">
                                                                <div class="well well-sm display-inline">
                                                                    <p>ACC状态：{{todo.ReceiveTData.AccStatus}}</p>
                                                                    <p>总工时：{{todo.ReceiveTData.TootalWorkTime/60}}小时</p>
                                                                    <p>电池电压：{{todo.ReceiveTData.BatteryVoltage}}V</p>
                                                                    <p>当前位置：{{todo.ReceiveTData.Pos}}</p>
                                                                    <p>经度：{{todo.ReceiveTData.Lat}},纬度：{{todo.ReceiveTData.Lng}},速度：{{todo.ReceiveTData.Gspeed}},方向：{{todo.ReceiveTData.GsDirection}}</p>
                                                                    <p>定位时间：<strong> {{todo.ReceiveTData.Ptime}}</strong> </p>
                                                                    <p>是否定位：{{todo.ReceiveTData.IsPos =="A" ?"GPS定位":"基站定位"}}</p>
                                                                    <p>基站信息：LAC({{todo.ReceiveTData.LAC}}),CID({{todo.ReceiveTData.CID}})</p>
                                                                    <p>信号强度：{{todo.ReceiveTData.GsmSignal}}</p>
                                                                    <hr />
                                                                    <p>盲区数据：{{todo.ReceiveTData.BlindSign}}，盲区数据条数：{{todo.ReceiveTData.BlindDataCount}}</p>
                                                                    <p>工作状态：{{todo.ReceiveTData.WorkStatue}}，工作模式：{{todo.ReceiveTData.WorkModel}}，工作时间：{{todo.ReceiveTData.WorkTime}}分钟</p>
                                                                    <p>休眠时间：{{todo.ReceiveTData.SleepTime}}分钟，追车模式间隔时间：{{todo.ReceiveTData.IntervalTime}}秒</p>
                                                                </div>
                                                            </div>
                                                            <div ng-switch-when="3">
                                                                <div class="well well-sm display-inline">

                                                                    <p>当前状态：<span class="btn btn-xs btn-default"><i class="fa fa-comment-o "></i>命令已下发</span></p>
                                                                    <p>命令下发时间：<strong> {{todo.OperateDateTime}}</strong> </p>
                                                                    <p>操作人：system</p>
                                                                </div>
                                                            </div>
                                                            <div ng-switch-when="4">
                                                                <div class="well well-sm display-inline">

                                                                    <p ng-switch on="todo.OperateStatue">
                                                                        <span ng-switch-when="0">当前状态：<span class="btn btn-xs btn-success"><i class="fa fa-comment-o "></i>命令执行成功</span></span>
                                                                        <span ng-switch-when="1">当前状态：<span class="btn btn-xs btn-danger"><i class="fa fa-comment-o "></i>命令执行失败</span></span>
                                                                    </p>
                                                                    <p>命令执行成功时间：<strong> {{todo.OperateDateTime}}</strong> </p>
                                                                    <p>操作人：智能终端</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- END Timeline Content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-footer">
                                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></pagination>
                            </div>
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

@section scripts{
    <script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=990f8ec17963b0c7a507f9c74d275568"></script>
    <script language="javascript">
        var mapObj, marker, ruler2, circle, editorCircle, polylineEditor, mouseTool, drawObj;
        $(document).ready(function () {
            mapInit();
            //初始化按钮状态
            $('#connectButton').removeAttr("disabled");
            $('#disconnectButton').removeAttr("disabled");
            $('#tabs').tabs();
        });
        //初始化地图对象，加载地图
        function mapInit() {
            mapObj = new AMap.Map("iCenter", {
                //二维地图显示视口
                view: new AMap.View2D({
                    // center: new AMap.LngLat(116.397428, 39.90923),//地图中心点
                    zoom: 17 //地图显示的缩放级别
                }),
                continuousZoomEnable: false
            });
            //地图类型切换
            mapObj.plugin(["AMap.MapType"], function () {
                var type = new AMap.MapType({ defaultType: 0 });//初始状态使用2D地图
                mapObj.addControl(type);
            });
            //加载比例尺插件
            mapObj.plugin(["AMap.Scale"], function () {
                scale = new AMap.Scale();
                mapObj.addControl(scale);
            });
            //在地图中添加ToolBar插件
            mapObj.plugin(["AMap.ToolBar"], function () {
                toolBar = new AMap.ToolBar();
                mapObj.addControl(toolBar);
            });
            //在地图中添加鹰眼插件
            mapObj.plugin(["AMap.OverView"], function () {
                //加载鹰眼
                overView = new AMap.OverView({
                    visible: true //初始化隐藏鹰眼
                });
                mapObj.addControl(overView);
            });
            //拉大地图
            var rectOptions = {
                strokeStyle: "dashed",
                strokeColor: "#FF33FF",
                fillColor: "#FF99FF",
                fillOpacity: 0.5,
                strokeOpacity: 1,
                strokeWeight: 2
            };
            //mapObj.plugin(["AMap.MouseTool"], function () {
            //    mouseTool = new AMap.MouseTool(mapObj);
            //    mouseTool.rectZoomIn(rectOptions);     //通过rectOptions更改拉框放大时鼠标绘制的矩形框样式
            //});
            mapObj.plugin(["AMap.RangingTool"], function () {

                var lOptions = {
                    strokeStyle: "solid",
                    strokeColor: "#FF33FF",
                    strokeOpacity: 1,
                    strokeWeight: 2
                };
                var sMarker = {
                    icon: new AMap.Icon({    //复杂图标
                        size: new AMap.Size(28, 37),//图标大小
                        image: "http://webapi.amap.com/images/custom_a_j.png", //大图地址
                        imageOffset: new AMap.Pixel(0, 0)//相对于大图的取图位置
                    })
                };
                var eMarker = {
                    icon: new AMap.Icon({    //复杂图标
                        size: new AMap.Size(28, 37),//图标大小
                        image: "http://webapi.amap.com/images/custom_a_j.png", //大图地址
                        imageOffset: new AMap.Pixel(-28, 0)//相对于大图的取图位置
                    }),
                    offset: new AMap.Pixel(-16, -35)
                };
                var rulerOptions = { startMarkerOptions: sMarker, endMarkerOptions: eMarker, lineOptions: lOptions };
                ruler2 = new AMap.RangingTool(mapObj, rulerOptions);
            });
            //自动加点
            geocoder();
        }
        //添加点标记
        function addMarker(LngLatX, LngLatY) {
            //var LngLatX = "116.405467"; //获取Lng值
            //var LngLatY = "39.907761"; //获取Lat值
            marker = new AMap.Marker({
                // icon: "http://webapi.amap.com/images/marker_sprite.png",
                position: new AMap.LngLat(LngLatX, LngLatY)
            });
            marker.setMap(mapObj);  //在地图上添加点
            marker.setAnimation('AMAP_ANIMATION_BOUNCE'); //设置点标记的动画效果，此处为弹跳效果
            mapObj.setFitView(); //调整到合理视野
        }
        function startRuler() {
            ruler2.turnOn();
        }

        //已知点坐标
        var lnglatXY = new AMap.LngLat('@Model.GpsPlog', '@Model.GpsPlat');
        function geocoder() {
            var MGeocoder;
            //加载地理编码插件
            mapObj.plugin(["AMap.Geocoder"], function () {
                MGeocoder = new AMap.Geocoder({
                    radius: 1000,
                    extensions: "all"
                });
                //返回地理编码结果
                AMap.event.addListener(MGeocoder, "complete", geocoder_CallBack);
                //逆地理编码
                MGeocoder.getAddress(lnglatXY);
            });
            //设置地图中心点及缩放级别
            mapObj.setZoomAndCenter(14, lnglatXY);
            //加点
            var marker = new AMap.Marker({
                map: mapObj,
                icon: new AMap.Icon({
                    image: "../../Content/ICON/car01.png",
                    size: new AMap.Size(51, 51),
                    imageOffset: new AMap.Pixel(-0, -0)
                }),
                position: lnglatXY,
                offset: new AMap.Pixel(-5, -53)
            });
            mapObj.setFitView();
        }
        //鼠标划过显示相应点
        var marker;
        function onMouseOver(e) {
            var coor = e.split(','),
                lnglat = new AMap.LngLat(coor[0], coor[1]);
            if (!marker) {
                marker = new AMap.Marker({
                    map: mapObj,
                    icon: "http://webapi.amap.com/images/0.png",
                    position: lnglat,
                    offset: new AMap.Pixel(-10, -34)
                });
            } else {
                marker.setPosition(lnglat);
            }
            mapObj.setFitView();
        }
        //回调函数
        function geocoder_CallBack(data) {
            var resultStr = "";
            var roadinfo = "";
            var poiinfo = "";
            var address;
            //返回地址描述
            address = data.regeocode.formattedAddress;
            //返回周边道路信息
            roadinfo += "<table class='table table-bordered table-hover table-condensed'>";
            for (var i = 0; i < data.regeocode.roads.length; i++) {

                roadinfo += "<tr><td>道路：" + data.regeocode.roads[i].name + "</td><td>方向：" + data.regeocode.roads[i].direction + "</td><td>距离：" + data.regeocode.roads[i].distance + "米</td></tr>";
            }
            roadinfo += "</table>"
            //返回周边兴趣点信息
            poiinfo += "<table  class='table table-bordered table-hover table-condensed'>";
            for (var j = 0; j < data.regeocode.pois.length; j++) {

                poiinfo += "<tr onmouseover='onMouseOver(\"" + data.regeocode.pois[j].location.toString() + "\")'><td>兴趣点：" + data.regeocode.pois[j].name + "</td><td>类型：" + data.regeocode.pois[j].type + "</td><td>距离：" + data.regeocode.pois[j].distance + "米</td></tr>";
            }
            poiinfo += "</table>";
            //返回结果拼接输出
            resultStr = "<span class='text-info'>地址：" + address + "</span></br/><span class='text-info'>周边道路信息</span>" + roadinfo + "<span class='text-info'>周边兴趣点信息</span>" + poiinfo + "";
            document.getElementById("result").innerHTML = resultStr;
        }
        //绘制圆形围栏
        function SetCircle() {
            ClearOverlay();
            circle = new AMap.Circle({
                center: lnglatXY,// 圆心位置
                radius: 1000, //半径
                strokeColor: "#F33", //线颜色
                strokeOpacity: 1, //线透明度
                strokeWeight: 3, //线粗细度
                fillColor: "#ee2200", //填充颜色
                fillOpacity: 0.35//填充透明度
            });
            circle.setMap(mapObj);

            //添加圆编辑控件
            mapObj.plugin(["AMap.CircleEditor"], function () {
                editorCircle = new AMap.CircleEditor(mapObj, circle);
                AMap.event.addListener(editorCircle, "move", function (e) {
                    document.getElementById('resultInfo').innerHTML = "圆心位置：" + e.lnglat;

                });
                AMap.event.addListener(editorCircle, "adjust", function (e) {
                    document.getElementById('resultInfo').innerHTML = "圆半径：" + e.radius;
                });
            });
            //使圆形覆盖物可编辑
            editorCircle.open();
        }
        //多边形绘制
        function SetPolygon() {
            ClearOverlay();
            //设置多边形的属性
            var polygonOption = {
                strokeColor: "#FF33FF",
                strokeOpacity: 1,
                strokeWeight: 2
            };
            //在地图中添加MouseTool插件
            mapObj.plugin(["AMap.MouseTool"], function () {
                mouseTool = new AMap.MouseTool(mapObj);
                mouseTool.polygon(polygonOption);   //使用鼠标工具绘制多边形
                AMap.event.addListener(mouseTool, "draw", function (e) {
                    drawObj = e.obj;  //obj属性就是绘制完成的覆盖物对象。
                    mapObj.plugin(["AMap.PolyEditor"], function () {
                        //取消鼠标绘制
                        mouseTool.close();

                        polylineEditor = new AMap.PolyEditor(mapObj, drawObj);
                        polylineEditor.open();
                        AMap.event.addListener(polylineEditor, "addnode", function (e) {
                            document.getElementById('resultInfo').innerHTML = "发生事件时光标所在处的经纬度坐标：" + e.lnglat;// + ",发生事件的目标对象:" + e.target;
                        });
                        AMap.event.addListener(polylineEditor, "adjust", function (e) {
                            document.getElementById('resultInfo').innerHTML = "发生事件时光标所在处的经纬度坐标：" + e.lnglat;// + ",发生事件的目标对象:" + e.target;
                        });
                        AMap.event.addListener(polylineEditor, "removenode", function (e) {
                            document.getElementById('resultInfo').innerHTML = "发生事件时光标所在处的经纬度坐标：" + e.lnglat;// + ",发生事件的目标对象:" + e.target;
                        });
                    });

                    var pointsCount = e.obj.getPath().length; //获取节点个数
                    document.getElementById('resultInfo').innerHTML = "多边形节点数：" + pointsCount + "<br>节点坐标：" + e.obj.getPath();
                });
            });
        }

        //清空覆盖物
        function ClearOverlay() {
            if (circle != null && editorCircle != null) {
                circle.setMap(null);
                editorCircle.close();
            }
            if (polylineEditor != null) {
                polylineEditor.close();
                drawObj.setMap(null);
                polylineEditor.close();
                mouseTool.close();
            }

        }

        var angularApp = angular.module('Commonds', ['ui.bootstrap']);
        angularApp.controller('TabsCmdCtrl', function ($scope, $window, $http) {
            $scope.tabs = [
              { title: '有线智能终端v2.0', content: 'Dynamic content 1' },
              { title: '无线智能终端v1.0', content: 'Dynamic content 2', disabled: true },
              { title: '无线智能终端v2.0', content: 'Dynamic content 3' }
            ];

            //指令参数
            $scope.CommondParameters = { AddressType: "00", IpOrDomain: "123.57.41.22:9001", WorkStatue: "00", TootalWorkTime: "00", WorkModel: "00", Timing: "0", PostionCount: "1", WorkTime: "2", IntervalTime1: "0" };
            $scope.IMEI = "";
            // timing
            $scope.TimingOptions = [
             { label: '不改变', value: "0" },
             { label: '1:00', value: "1" },
             { label: '2:00', value: "2" },
            { label: '3:00', value: "3" },
            { label: '4:00', value: "4" },
            { label: '5:00', value: "5" },
            { label: '6:00', value: "6" },
            { label: '7:00', value: "7" },
            { label: '8:00', value: "8" },
            { label: '9:00', value: "9" },
            { label: '10:00', value: "10" },
            { label: '11:00', value: "11" },
            { label: '12:00', value: "12" },
            { label: '13:00', value: "13" },
            { label: '14:00', value: "14" },
            { label: '15:00', value: "15" },
            { label: '16:00', value: "16" },
            { label: '17:00', value: "17" },
            { label: '18:00', value: "18" },
            { label: '19:00', value: "19" },
            { label: '20:00', value: "20" },
            { label: '21:00', value: "21" },
            { label: '22:00', value: "22" },
            { label: '23:00', value: "23" },
            { label: '00:00', value: "24" }
            ];

            //提交指令
            $scope.setParameterSubmit = function () {
                if ($scope.CommondParameters) {
                    setTimeout(function () {
                        // Simple POST request example (passing data) :
                        d = dialog({
                            title: '提示',
                            content: '确定要发送指令吗？',
                            ok: function () {
                                var that = this;
                                this.title('正在提交..');
                                $http.post('/TerminalEquipmentCommand/InsertSendData',
                                    { IMEI: '@Model.IMEI', MsgJson: JSON.stringify($scope.CommondParameters) })
                                    .success(function (data, status, headers, config) {
                                        that.title('指令设置成功..');
                                        that.close().remove();
                                        $window.location.reload();
                                    })
                                    .error(function (data, status, headers, config) {
                                        alert("error");
                                    });
                                return false;
                            },
                            cancelValue: '取消',
                            cancel: function () { }
                        });
                        d.show();
                    });
                }
            };
        });

        var Operates = angular.module('Operates', ['ui.bootstrap']);
        Operates.controller('TodoController', function ($scope, $log, $window, $http) {
            $scope.totalItems = 10;
            $scope.currentPage = 1;
            $scope.setPage = function (pageNo) {
                $scope.currentPage = pageNo;
                $window.alert(pageNo);
            };
            $scope.pageChanged = function () {
                //  $window.alert($scope.currentPage);
                $log.log('Page changed to: ' + $scope.currentPage);
            };
            //每页显示记录数
            $scope.numPerPage = 10,
            //最多显示分页数
            $scope.maxSize = 5;
            $scope.bigTotalItems = 175;
            $scope.bigCurrentPage = 1;
            $scope.$watch('currentPage + numPerPage', function () {
                $scope.GetData();
            });
            $scope.GetData = function () {
                // Simple POST request example (passing data) :
                $http.post('/TerminalEquipmentCommand/GetTerminalEquipmentCommand', { IMEI: '@Model.IMEI', currentPage: $scope.currentPage, numPerPage: $scope.numPerPage }).
                  success(function (data, status, headers, config) {
                      // this callback will be called asynchronously
                      // when the response is available

                      $scope.totalItems = data.records;
                      $scope.maxSize = data.total;
                      $scope.currentPage = data.page;
                      $scope.filteredTodos = data.rows;

                  }).
                  error(function (data, status, headers, config) {
                      // called asynchronously if an error occurs
                      // or server returns response with an error status.
                  });
            }

        });
        angular.bootstrap(angular.element('#Commonds'), ['Commonds']);
        angular.bootstrap(angular.element('#Operates'), ['Operates']);


    </script>
}