@using Microsoft.AspNet.Identity
@model SocialGoal.Model.ViewModels.OrgStructureViewModel

@{
    ViewBag.Title = "Register";

}
@Styles.Render("~/Content/Flatty/Css")
@Styles.Render("~/Content/select2/css")
@Styles.Render("~/Content/ztrtee/css")
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @using (Ajax.BeginForm("Creat", "OrgStructure", null, new AjaxOptions
      {
          InsertionMode = InsertionMode.Replace,
          HttpMethod = "Post",
          OnSuccess = "ShowResult",
      },
     new { @class = "form form-horizontal" })
   )
            {
                <div class="alert alert-success alert-dismissable">
                    <a href="#" data-dismiss="alert" class="close">
                        ×
                    </a>

                    <i class="icon-ok-sign"></i>
                    <span id="detailsID"></span>
                </div>

                @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                <div class='form-group'>
                    <label class="col-xs-4 control-label">所属企业</label>
                    <div class='col-xs-8'>
                        <input type="hidden" name="OrgEnterpriseId" id="OrgEnterpriseId" value="">
                        <input type="text" placeholder="搜索企业" name="OrgEnterpriseIdSel" id="OrgEnterpriseIdSel" class="form-control">
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-xs-4 control-label">所属组织机构 @ViewBag.Id</label>
                    <div class='col-xs-8'>
                        <input type="hidden" name="OrgStructurePId" id="OrgStructurePId" value="0">
                        <input id="OrgStructurePIdSel" type="text" readonly value="" onclick="showMenu();" class="form-control" />
                        <div id="menuContent" class="menuContent select2-drop" style="display:none; position: absolute;width:252px;">
                            <ul id="treeDemo" class="ztree "></ul>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    @Html.LabelFor(m => m.OrgStructureNum, new { @class = "col-xs-4 control-label" })
                    <div class='col-xs-8'>
                        @Html.TextBoxFor(m => m.OrgStructureNum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrgStructureNum)
                    </div>
                </div>
                <div class='form-group'>
                    @Html.LabelFor(m => m.OrgStructureName, new { @class = "col-xs-4 control-label" })
                    <div class='col-xs-8'>
                        @Html.TextBoxFor(m => m.OrgStructureName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrgStructureName)
                    </div>
                </div>
                <div class='form-group'>
                    @Html.LabelFor(m => m.OrgStructureDescribe, new { @class = "col-xs-4 control-label" })
                    <div class='col-xs-8'>
                        @Html.TextBoxFor(m => m.OrgStructureDescribe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrgStructureDescribe)
                    </div>
                </div>
                <div class="form-actions form-actions-padding-sm">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <button class="btn btn-primary" type="submit">
                                <i class="icon-save"></i>
                                保存
                            </button>
                            <button class="btn" type="submit">取消</button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/select2/js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/ztree/js")
<script type="text/javascript">
    var userId = "noLogin";
    if ("@User.Identity.IsAuthenticated") {
        userId = "@User.Identity.GetUserId()";
    }
    var setting = {
        data: {
            simpleData: {
                enable: true,
                idKey: "OrgStructureId",
                pIdKey: "OrgStructurePId",
                rootPId: "0"
            },
            key: {
                name: "OrgStructureName",
                title: ""
            }
        },
        async: {
            enable: true,
            type: "get",
            dataType: "json",
            url: "http://localhost:9898/api/ApiOrgStructure/GetOrgStructureZtree/" + userId
        },
        callback: {
            // beforeClick: beforeClick,
            onClick: onClick
        }
    };
    function beforeClick(treeId, treeNode) {
        var check = (treeNode && !treeNode.isParent);
        if (!check) alert("只能选择城市...");
        return check;
    }

    function onClick(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
        nodes = zTree.getSelectedNodes(),
        v = "";
        n = "";
        nodes.sort(function compare(a, b) { return a.id - b.id; });
        for (var i = 0, l = nodes.length; i < l; i++) {
            v = nodes[i].OrgStructureName;
            n = nodes[i].OrgStructureId;
        }
        var cityObj = $("#OrgStructurePIdSel");
        cityObj.attr("value", v);
        $("#OrgStructurePId").attr("value", n);
    }

    function showMenu() {
        var cityObj = $("#OrgStructurePIdSel");
        var cityOffset = $("#OrgStructurePIdSel").offset();
        $("#menuContent").css({ left: cityOffset.left - 141 + "px", top: cityOffset.top - 49 + cityObj.outerHeight() + "px" }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
            hideMenu();
        }
    }
    //提交后ajax返回信息
    function ShowResult(data) {
        $("#detailsID").html("返回信息：" + data);
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting);

        @*var attendeeUrl = '@Url.Action("GetOrgEnterprises", "OrgEnterprise")';*@
        var attendeeUrl = "http://localhost:9898/api/ApiOrgEnterprise/GetOrgEnterprisesSelect";
        var pageSize = 20;
        $('#OrgEnterpriseIdSel').select2(
               {
                   placeholder: 'Enter name',
                   //Does the user have to enter any data before sending the ajax request
                   minimumInputLength: 0,
                   allowClear: true,
                   ajax: {
                       //How long the user has to pause their typing before sending the next request
                       quietMillis: 150,
                       //The url of the json service
                       url: attendeeUrl,
                       dataType: 'json',
                       //Our search term and what page we are on
                       data: function (term, page) {
                           return {
                               pageSize: pageSize,
                               pageNum: page,
                               searchTerm: term,
                               userId: userId
                           };
                       },
                       results: function (data, page) {
                           //Used to determine whether or not there are more results available,
                           //and if requests for more data should be sent in the infinite scrolling
                           var more = (page * pageSize) < data.Total;
                           return { results: data.Results, more: more };
                       }
                   }
               })
            .on("select2-selecting", function (e) {
                $("#OrgEnterpriseId").val(e.val);
            })
            .on("select2-removed", function (e) {
                $("#OrgEnterpriseId").val("");
            });


    });
</script>