    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="@Url.Action("index", "home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">控制面板</span></a>
            </li>

            <li class="@Html.RouteIf("ProtocolManage", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">系统管理</span></a>
                <ul>
                    <li class="@Html.RouteIf("ProtocolManage", "active")">
                        <a href='@Url.Action("Index", "ProtocolManage", null)'>
                            协议管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("AdminUsers", "active")">
                        <a href='@Url.Action("Index", "AdminUsers", null)'>
                            用户管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("TerminalEquipment", "active")">
                <a href="#"><i class="fa fa-lg fa-fw  fa-tablet"></i> <span class="menu-item-parent">终端管理</span></a>
                <ul>
                    <li class="@Html.RouteIf("TerminalSimCard", "active")">
                        <a href='@Url.Action("Index", "TerminalSimCard", null)'>
                            SIM卡管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("TerminalEquipment", "active")">
                        <a href='@Url.Action("Index", "TerminalEquipment", null)'>
                            终端设备管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("TerminalEquipment", "active")">
                        <a href='@Url.Action("Monitor", "TerminalEquipment", null)'>
                            终端设备监控
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("Terminal", "active")">
                <a href="#"><i class="fa fa-lg fa-fw  fa-automobile"></i> <span class="menu-item-parent">机械设备管理</span></a>
                <ul>
                    <li class="@Html.RouteIf("Equipment", "active")">
                        <a href='@Url.Action("Index", "Equipment", null)'>
                            设备管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("Terminal", "active")">
                        <a href='@Url.Action("Index", "Terminal", null)'>
                            机械监控
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("OrgEnterprise", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">基础信息管理</span></a>
                <ul>
                    <li class="@Html.RouteIf("OrgEnterprise", "active")">
                        <a href='@Url.Action("Index", "OrgEnterprise", null)'>
                            企业管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("RolesAdmin", "active")">
                        <a href='@Url.Action("Index", "RolesAdmin", null)'>
                            角色管理
                        </a>
                    </li>
                    <li class="@Html.RouteIf("UsersAdmin", "active")">
                        <a href='@Url.Action("Index", "UsersAdmin", null)'>
                            用户管理
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->