<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/SmartAdmin/css")
    @RenderSection("styles", required: false)
</head>
<body class="">
    <!-- #HEADER -->
    <header id="header">     
     @Html.Partial("_PartialSmartAdminHeader")
    </header>
    <!-- END HEADER -->
    <!-- #NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">      
        @Html.Partial("_PartialSmartAdminLeft")
    </aside>
    <!-- END NAVIGATION -->
    <!-- #MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">          
            @Html.Partial("_PartialSmartAdminRibbon")
        </div>
        <!-- END RIBBON -->
        <!-- #MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- END #MAIN CONTENT -->

    </div>
    <!-- END #MAIN PANEL -->
    <!-- #PAGE FOOTER -->
    <div class="page-footer">
        @Html.Partial("_PartialSmartAdminFooter")
    </div>
    <!-- END FOOTER -->
    <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
         Note: These tiles are completely responsive, you can add as many as you like -->
    <div id="shortcut">
        @Html.Partial("_PartialSmartAdminShortcut")        
    </div>
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/Content/SmartAdmin/js/plugin/pace/pace.min.js"></script>
    @Scripts.Render("~/bundles/SmartAdmin/jquery")
    @Scripts.Render("~/bundles/SmartAdmin/js")
    <script src="~/Content/angular-xeditable/js/xeditable.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript">
        var localApi = "http://localhost:9898/";
        var app = angular.module("App", ["xeditable", "ui.bootstrap"]);
        app.run(function (editableOptions) {
            editableOptions.theme = 'bs3';
            //  editableOptions.theme.inputClass = "input-sm";
        });
        app.controller('Ctrl', function ($scope, $filter, $http, $element) {
            $scope.activeItem = '';
            //加载Json数据
            $http.get('/Json/MenuData.js').success(function (data) {
                $scope.MenuData = data;
            });
            $scope.OpenMenu = function (item) {
                $scope.activeItem = item;
            }
            $scope.DataTypes = [
              { value: 1, text: '字节' },
              { value: 2, text: 'BIT位' },
              { value: 3, text: '状态位' }

            ];

        })
        //获取当前时间
        function CurentTime() {
            var now = new Date();

            var year = now.getFullYear();       //年
            var month = now.getMonth() + 1;     //月
            var day = now.getDate();            //日

            var hh = now.getHours();            //时
            var mm = now.getMinutes();          //分

            var clock = year + "-";

            if (month < 10)
                clock += "0";

            clock += month + "-";

            if (day < 10)
                clock += "0";

            clock += day + " ";

            if (hh < 10)
                clock += "0";

            clock += hh + ":";
            if (mm < 10) clock += '0';
            clock += mm;
            return (clock);
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
