<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Flatty/Css")
    @RenderSection("styles", required: false)
    <link href="~/Content/angular-xeditable/css/xeditable.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

    <style type="text/css">
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 400px;
            height: 300px;
        }

        .green {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body class='contrast-red' ng-app="App">
    @Html.Partial("_PartialFlattyHeader")
    <div id='wrapper'>
        <div id='main-nav-bg'></div>
        <nav id='main-nav'>
            <div class='navigation' ng-controller="Ctrl">
                <div class='search'>
                    <form action='search_results.html' method='get'>
                        <div class='search-wrapper'>
                            <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                            <button class='btn btn-link icon-search' name='button' type='submit'></button>
                        </div>
                    </form>
                </div>
                @*<ul class='nav nav-stacked in'>
                        <li ng-repeat="menuDataModel in MenuData">
                            <a class='dropdown-collapse' href='#'>
                                <i class='{{menuDataModel.Icon}}'></i>
                                <span>{{menuDataModel.MenuName}}</span>
                                <i class='icon-angle-down angle-down' ng-click="OpenMenu(menuDataModel.Id)"></i>
                            </a>
                            <ul class="nav nav-stacked " ng-class="{'in': menuDataModel.Id==activeItem}" ng-show="menuDataModel.ChildMenu.length>0">
                                <li ng-repeat="childMenuData in menuDataModel.ChildMenu">
                                    <a class='dropdown-collapse' href='#'>
                                        <i class='{{childMenuData.Icon}}'></i>
                                        <span>{{childMenuData.MenuName}}</span>
                                        <i class='icon-angle-down angle-down' ng-click="OpenMenu(childMenuData.Id)"></i>
                                    </a>
                                    <ul class='nav nav-stacked ' ng-class="{'in': childMenuData.Id==activeItem}" ng-show="childMenuData.ChildMenu.length>0">
                                        <li ng-repeat="threeChildMenuData in childMenuData.ChildMenu" ng-click="OpenMenu(threeChildMenuData.Id)">
                                            <a href='{{threeChildMenuData.MenuUrl}}'>
                                                <i class='{{threeChildMenuData.Icon}}'></i>
                                                <span>{{threeChildMenuData.MenuName}}</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>*@
                <ul class='nav nav-stacked'>
                    <li class='active'>
                        <a href='index.html'>
                            <i class='icon-dashboard'></i>
                            <span>控制面板</span>
                        </a>
                    </li>
                    <li class=''>
                        <a class="dropdown-collapse" href="#">
                            <i class='icon-edit'></i>
                            <span>系统管理</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>

                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='@Url.Action("Index", "ProtocolManage", null)'>
                                    <i class='icon-caret-right'></i>
                                    <span>协议管理</span>
                                </a>
                            </li>                          
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-tint'></i>
                            <span>终端管理</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='ui_elements.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>SIM卡管理</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='widgets.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>终端管理</span>
                                </a>
                            </li>                           
                        </ul>
                    </li>                   
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-cogs'></i>
                            <span>基础信息管理</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='@Url.Action("Index", "OrgEnterprise", null)'>
                                    <i class='icon-caret-right'></i>
                                    <span>企业管理</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='@Url.Action("Index", "OrgStructure",null)'>
                                    <i class='icon-envelope'></i>
                                    <span>组织结构管理</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='chats.html'>
                                    <i class='icon-comments'></i>
                                    <span>Chats</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='filetrees.html'>
                                    <i class='icon-list-ul'></i>
                                    <span>File trees</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='fileupload.html'>
                                    <i class='icon-file'></i>
                                    <span>Fileupload</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='todo.html'>
                                    <i class='icon-list-alt'></i>
                                    <span>Todo list</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='wysiwyg.html'>
                                    <i class='icon-paste'></i>
                                    <span>WYSIWYG</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=''>
                        <a href='tables.html'>
                            <i class='icon-table'></i>
                            <span>Tables</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='grid.html'>
                            <i class='icon-th'></i>
                            <span>Grid</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='type.html'>
                            <i class='icon-font'></i>
                            <span>Typography</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='calendar.html'>
                            <i class='icon-calendar'></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-book'></i>
                            <span>Example pages</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='invoice.html'>
                                    <i class='icon-money'></i>
                                    <span>Invoice</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='gallery.html'>
                                    <i class='icon-picture'></i>
                                    <span>Gallery</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='timeline.html'>
                                    <i class='icon-time'></i>
                                    <span>Timeline</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='pricing_tables.html'>
                                    <i class='icon-table'></i>
                                    <span>Pricing tables</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='user_profile.html'>
                                    <i class='icon-user'></i>
                                    <span>User profile</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='err404.html' target='_blank'>
                                    <i class='icon-question-sign'></i>
                                    <span>404 Error</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='err500.html' target='_blank'>
                                    <i class='icon-cogs'></i>
                                    <span>500 Error</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='sign_in.html' target='_blank'>
                                    <i class='icon-signin'></i>
                                    <span>Sign in</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='faq.html'>
                                    <i class='icon-bullhorn'></i>
                                    <span>FAQ</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='orders.html'>
                                    <i class='icon-inbox'></i>
                                    <span>Orders</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='search_results.html'>
                                    <i class='icon-search'></i>
                                    <span>Search results</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='blank.html'>
                                    <i class='icon-circle-blank'></i>
                                    <span>Blank page</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='dropdown-collapse ' href='#'>
                            <i class='icon-cog'></i>
                            <span>Layouts</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='closed_navigation.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Closed navigation</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='fixed_header.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Fixed header</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='fixed_navigation.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Fixed navigation</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='fixed_navigation_and_header.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Fixed navigation & header</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=''>
                        <a href='email_templates.html'>
                            <i class='icon-mail-reply'></i>
                            <span>Email templates</span>
                        </a>
                    </li>
                    <li>
                        <a class='dropdown-collapse' href='#'>
                            <i class='icon-folder-open-alt'></i>
                            <span>Four level dropdown</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>
                        <ul class='nav nav-stacked'>
                            <li>
                                <a class='dropdown-collapse' href='#'>
                                    <i class='icon-caret-right'></i>
                                    <span>Second level</span>
                                    <i class='icon-angle-down angle-down'></i>
                                </a>
                                <ul class='nav nav-stacked'>
                                    <li>
                                        <a class='dropdown-collapse' href='#'>
                                            <i class='icon-caret-right'></i>
                                            <span>Third level</span>
                                            <i class='icon-angle-down angle-down'></i>
                                        </a>
                                        <ul class='nav nav-stacked'>
                                            <li>
                                                <a href='#'>
                                                    <i class='icon-caret-right'></i>
                                                    <span>Fourth level</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <i class='icon-caret-right'></i>
                                                    <span>Another fourth level</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <section id='content'>
            <div class='container'>
                @RenderBody()
                <footer id='footer'>
                    <div class='footer-wrapper'>
                        <div class='row'>
                            <div class='col-sm-6 text'>
                                Copyright © 2013 Your Project Name
                            </div>
                            <div class='col-sm-6 buttons'>
                                <a class="btn btn-link" href="http://www.bublinastudio.com/flatty">Preview</a>
                                <a class="btn btn-link" href="https://wrapbootstrap.com/theme/flatty-flat-administration-template-WB0P6NR1N">Purchase</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </div>
    @Scripts.Render("~/Content/Flatty/Js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/angular-xeditable/js/xeditable.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript">
        var app = angular.module("App", ["xeditable", "ui.bootstrap"]);
        app.run(function (editableOptions) {
            editableOptions.theme = 'bs3';
            //  editableOptions.theme.inputClass = "input-sm";
        });
        app.controller('Ctrl', function ($scope, $filter, $http, $element) {
            $scope.activeItem = '';
            //加载Json数据
            $http.get('/Json/MenuData.js').success(function (data) {
                $scope.MenuData = data;
            });
            $scope.OpenMenu = function (item) {
                $scope.activeItem = item;
            }
            $scope.DataTypes = [
              { value: 1, text: '字节' },
              { value: 2, text: 'BIT位' },
              { value: 3, text: '状态位' }

            ];

        })

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
